<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do list</title>
    <link rel="stylesheet" href="static/styles/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Allerta%20Stencil' rel='stylesheet'>
  </head>

  <body>
    <button class ="btn" type=button onclick="myFunction()">Toggle dark mode</button>
    <div class="container">
      <div class="section1">
        <h1 class="txt" id="title">TO DO LIST</h1>
        <p>
          <label for="new-task" class="txt">Add Tasks</label>
          <input id="new-task" type="text" />
          <button class="btn" id="addButton">Add</button>
        </p>
      </div>
      <div class="section2">
        <h3 class="txt">To-do</h3>
        <ul id="incomplete-tasks"></ul>
      </div>
      <div class="section3">
        <h3 class="txt">Completed Tasks</h3>
        <ul id="completed-tasks">
          <li>
            <!-- <input type="checkbox" checked="" />
            <label>Learn JavaScript</label>
            <input type="text" /> -->
            <button class="btn edit">Edit</button>
            <button class="btn delete">Delete</button>
          </li>
        </ul>
      </div>
      <div class="section4">
        <button class = "btn" id="clear">
          <p>Clear</p>
        </button>
      </div>
    </div>
    <script src="static/scripts/script.js"></script>
  </body>
</html>
